section {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    position: relative;
    width: 400px;
    height: 480px;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.050);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .content, .imgText {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .content {
      .sci {
        display: flex;
        margin-top: 25px;

        li {
          list-style: none;

          a {
            position: relative;
            width: 60px;
            height: 60px;
            background: #e9f5ff;
            color: #2fa1ff;
            margin: 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border-radius: 50%;
            font-size: 25px;
            transition: 0.3s;

            &:hover {
              color: #fff;
            }

            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: #2fa1ff;
              border-radius: 50%;
              transform: scale(0);
              transition: 0.3s;
            }

            &:hover:before {
              transform: scale(1);
            }

            .fa {
              position: relative;
              z-index: 1000;
            }
          }
        }
      }
    }

    .imgText {
      .imgBx {
        position: relative;
        width: 170px;
        height: 170px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 25px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      h3 {
        font-weight: 600;
        font-size: 1.5em;
        line-height: 1.3em;
        text-align: center;
        color: #2fa1ff;

        span {
          font-weight: 500;
          color: #777;
          font-size: 0.85em;
        }
      }
    }
  }
}

