<div class="converter__select">
  <h4>Currency #{{selectId}}</h4>
  <mat-form-field appearance="outline">
    <mat-label>Currency</mat-label>
    <mat-select
      [(value)]="selectFullName"
      (selectionChange)="onChanges($event.value, selectId)">
      <mat-option
        *ngFor="let currency of (currenciesFullNameList$ | async)"
        [value]="currency">
        {{currency}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span>Amount: ${{ selectAmount ? (1/selectAmount).toFixed(3) : selectAmount}}</span>
</div>
